$navbarHeight: 70px;
$footerHeight: 150px;
$sidebarWidth: 400px;
$leftSidebarWidth: 300px;

/* == Colour Palette ==
 * 60/30/10 % Usage Rule (primary/neutral/accent)
 * palettes contain multi-colour shades
*/

$primary-darkBlue: #01264B;
$primary-darkYellow: #D8A31A;
$primary-lightBlue: #345A80;

$netural-lightBeachGreen: #A8E9C8;
$netural-darkBeachGreen: #9BB3A0;
$netural-offWhite: #F7F7F7;

$neutral-darkBrown: #806749;
$neutral-lightBrown: #E9CCA8;

$accent-brightBlue: #02E6DF;


$secondary-lightGrey: #dde0e5;


$app-lightGrey: rgb(168, 168, 168);


$grey_100_F5: #F5F5F5;
$grey_400_BD: #BDBDBD;
$grey_500_9E: #9E9E9E;
$grey_600_75: #757575;


$app-grey: #BEBBBB;
$app-charcoal: rgb(34, 34, 34);


$lightGrey: #EEEEEE;

$app-lightBlue: #005FB2;
//#345A80
// #013466
$successGreen: #189E18;

$lightBlack: #222222
