@import '../../../../theme/variables.scss';

.navbar {
    position: fixed;
    top: 0px;
    height: $navbarHeight;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 40px;
    z-index: 1001;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;

    color: white;
    background-color: #202123;
    border-bottom: 1px solid grey;

    &-left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 40px;
    }

    &-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
    }


    &Item {
        cursor: pointer;

        &-company {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            color: white;
            font-size: 2.1rem;

            &Logo {
                font-size: 2.1rem;
            }
        }

        &-link {
            text-decoration: none;
            color: unset;
            font-size: 1.2rem;
        }

        &-active {
            font-weight: bold;
            border-bottom: 1px solid white;
            padding-bottom: 3px;
        }

        &-icon {
            margin-right: 5px;
            font-size: 1.6rem;
        }

        p-avatar {
            padding-right: 10px;
        }

        &-button {
            ::ng-deep.p-button-label {
                color: white;
                font-size: 1.1rem;
                font-weight: 600;

                &:hover {
                    font-weight: 700;
                }
            }

        }

        &:hover {
            opacity: 0.4;
            filter: alpha(opacity=40);

            // div { // DPH messes with all navItems, needs to be specific for dropdowns
            //     display: block;
            //     visibility: visible;
            //     opacity: 1;
            //     top: calc($navbarHeight - 27px);
            // }
        }
    }
}

.subMenu {
    position: absolute;
    top: 10px;
    width: 120px;

    transition: top 0.1s, visibility 0s, opacity 0.1s linear;

    padding-top: 30px;

    visibility: hidden;
    opacity: 0;
    display: flex;

    &-container {
        background-color: $primary-darkBlue;
        padding: 10px;
    }

    &-large {
        width: 160px;
        color: grey;
    }

    &-item {
        width: 100px;
        padding: 2px;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &:hover {
            border-radius: 4px;
            background-color: $app-lightBlue;
        }

        a, span {
            font-size: 1.4rem;
            color: white;
        }
    }

    &-emptyMessage {
        padding-bottom: 10px;
    }
}
