<nav class="navbar">
    <ul class="navbar-left">
        <li class="navbarItem">
            <div class="navbarItem-company">
                <i class="navbarItem-companyLogo fa-brands fa-rebel"></i>
                <span
                    class="navbarItem-company"
                    routerLink=""
                >
                    Ideocracy
                </span>
            </div>
        </li>

        @for (item of leftItems; track item; let i = $index) {
            <ng-container
                [ngTemplateOutlet]="navItem"
                [ngTemplateOutletContext]="{ $implicit: item, idx: i }"
            ></ng-container>
        }
    </ul>

    <ul class="navbar-right">
        @if (!!(authService.currentUser$ | async)) {
            <li class="navbarItem">
                <i
                    class="navbarItem-icon pi pi-fw pi-bell"
                ></i>
                <div class="subMenu subMenu-large">
                    <ul class="subMenu-container">
                        <a class="subMenu-emptyMessage">
                            No Notifications
                        </a>
                    </ul>
                </div>
            </li>

            <li class="navbarItem">
                @if (photoURL) {
                    <p-avatar
                        [image]="photoURL"
                        size="large"
                        styleClass="navbarItem-icon"
                    ></p-avatar>
                } @else {
                    <i class="navbarItem-icon pi pi-fw pi-user"></i>
                }

                <a> {{ fullName }}</a>
                <div class="subMenu">
                    <ul class="subMenu-container">
                        <li
                            class="subMenu-item"
                            (click)="openSettingsDialog()"
                        >
                            <span  class="navbarItem-icon pi pi-fw pi-cog"></span>
                            <a class="navbarItem-link">
                                Settings
                            </a>
                        </li>
                        <li
                            class="subMenu-item"
                            (click)="logout()"
                        >
                            <span  class="navbarItem-icon pi pi-power-off"></span>
                            <a class="navbarItem-link">
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        } @else {
            <li class="navbarItem">
                <p-button
                    class="navbarItem-button"
                    label="Login"
                    [text]="true"
                    (onClick)="openAuthDialog()"
                ></p-button>
            </li>

            <li class="navbarItem">
                <p-button
                    class="navbarItem-button"
                    label="Sign Up"
                    [text]="true"
                    (onClick)="openAuthDialog()"
                ></p-button>
            </li>
        }

    </ul>
</nav>

<ng-template #navItem let-item>
    @if (item.visible) {
        <li class="navbarItem">
            <a
                class="navbarItem-link"
                routerLinkActive="navbarItem-active"
                [routerLink]="item.routerLink"
            >
                {{ item.label }}
            </a>
        </li>
    }
</ng-template>
