@import '../../../theme/variables.scss';


.home {
    display: flex;
    flex-direction: column;
}

.coverPhoto {
    width: 100%;
    object-fit: contain;
}


.section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 800px;
    padding: 0px $navbarHeight;

    &-black {
        background-color: #202123;
    }

    &-white {
        background-color: white;
    }
}


.main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: $navbarHeight;
    height: 600px;

    background-color: #202123;

    &-container {
        &-question {
            color: #ebe0de;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: normal;
            padding-bottom: 20px;
        }

        &-heading {
            width: 20ch;
            color: white;
            font-size: 3rem;
            font-weight: normal;
            padding-bottom: 50px;
        }
    }

    &-subcontainer {
        display: flex;
        flex-direction: column;
        gap: 20px;

        width: 61ch;
        margin-left: 30px;
        border-left: 1px solid grey;
        padding: 20px 30px;

        span {
            color: #ebe0de;
            font-size: 1.1rem;
        }

        &-button {
            ::ng-deep .p-button {
                border-radius: 0px;
                border: 1px solid #FDDA0D; // Cadmium Yellow
                background-color: #FFBF00; // Amber

                &-label {
                    color: black;
                    padding: 10px;
                }

                &:hover() {
                    // DPH add highlighting
                }

                &:focus {
                    box-shadow: none;
                }
            }
        }

    }
}


footer {
    height: 200px;
}

.footer {
    display: flex;
    justify-content: center;

    &-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        max-width: 700px;
    }

    &-center {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    &-link {
        cursor: pointer;
        color: black;
        text-decoration: none;

        &:hover {
            color: $app-lightGrey;
        }
    }

    &-icon {
        text-decoration: none;
        color: $lightBlack;
        span {
            font-size: 3rem;
        }

        &:hover {
            color: rgb(168, 168, 168);
        }
    }
}

.terms {
    ::ng-deep {

        .p-dialog-header {
            font-size: 1.5rem !important;
        }

        .p-dialog-content {
            padding: 20px;
        }

    }
}
